<div>
	<form action="/signin"method="POST">
		<div>
			<div>
				<input name="name" placeholder="name">
				<input name="password" placeholder="パスワード">
			</div>
			<div>
				<input type="submit" value="ログイン">
			</div>
		</div>
	</form>
</div>
