<div>
	<form action="/signup" method="post">
		<div>
			<div>
				<input name="name" placeholder="名前"><br>
				<input name="password" placeholder="パスワード"><br>
				<input name="password_confirmation" placeholder="パスワードの確認"><br>
			</div>
			<div>
				<input type="submit" value="新規登録">
			</div>
		</div>
	</form>
</div>
